html {
    scroll-behavior: smooth;
}

body {
    padding-bottom: 3rem;
    color: #5a5a5a;
}

.carousel-item {
    height: 100vh;
    min-height: 300px;
    background: no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.carousel-caption {
    bottom: 270px !important;
}

.carousel-caption h5 {
    font-size: 45px !important;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-top: 25px;
}

.carousel-caption p {
    width: 75%;
    margin: auto;
    font-size: 18px;
    line-height: 1.9;
}

.bg-dark {
    background-color: rgba(0, 0, 0, 0.192) !important;
}

.navbar-brand {
    color: rgb(255, 255, 255) !important;
    background-color: crimson;
    padding: 5px;
    border-radius: 10px;
}

.navbar-brand:hover {
    color: rgb(255, 255, 255) !important;
    background-color: rgba(0, 0, 0, 0.144) !important;
    padding: 5px;
    border-radius: 30px;
}

.fa-search {
    color: rgb(131, 128, 128) !important;
    font-size: 30px;
}

.fa-search:hover {
    color: rgb(255, 255, 255) !important;
}

.nav-link {
    color: white;
}

.nav-link:hover {
    color: rgb(255, 255, 255);
    font-size: 20px !important;
    padding: 5px;
    border-radius: 30px;
}

.dropdown-item:hover {
    background-color: red;
    color: white;
}


/* MARKETING CONTENT
-------------------------------------------------- */


/* Center align the text within the three columns below the carousel */

.marketing .col-lg-4 {
    margin-bottom: 1.5rem;
    text-align: center;
}

.marketing h2 {
    font-weight: 400;
}

.marketing .col-lg-4 p {
    margin-right: .75rem;
    margin-left: .75rem;
}

.featurette-divider {
    margin: 5rem 0;
    /* Space out the Bootstrap <hr> more */
}


/* Thin out the marketing headings */

.featurette-heading {
    font-weight: 300;
    line-height: 1;
    letter-spacing: -.05rem;
}


/* RESPONSIVE CSS
-------------------------------------------------- */

@media (min-width: 40em) {
    /* Bump up size of carousel content */
    .carousel-caption p {
        margin-bottom: 1.25rem;
        font-size: 1.25rem;
        line-height: 1.4;
    }
    .featurette-heading {
        font-size: 50px;
    }
}

@media (min-width: 62em) {
    .featurette-heading {
        margin-top: 7rem;
    }
}

.contact-image img {
    width: 21%;
    margin-left: 450px;
    margin-bottom: 50px;
    margin-top: -3%;
    transform: rotate(29deg);
}