.carousel-item {
    height: 100vh;
    min-height: 300px;
    background: no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.carousel-caption {
    bottom: 270px;
}

.carousel-caption h5 {
    font-size: 45px;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-top: 25px;
}

.carousel-caption p {
    width: 75%;
    margin: auto;
    font-size: 18px;
    line-height: 1.9;
}

.bg-dark {
    background-color: rgba(218, 47, 47, 0) !important;
}

.text-white:hover {
    color: rgb(248, 0, 0) !important;
    background-color: rgba(0, 0, 0, 0.158);
    padding: 5px;
    border-radius: 30px;
}

.fa-search {
    color: white;
    font-size: 30px;
}

.fa-search:hover {
    color: red;
}

.nav-link {
    color: white;
}

.nav-link:hover {
    color: red;
    font-size: 20px !important;
    background-color: rgba(0, 0, 0, 0.158);
    padding: 5px;
    border-radius: 30px;
}

.dropdown-item:hover {
    background-color: red;
    color: white;
}